- hosts: all
  become: yes
  tasks:
    - name: Install Docker
      apt:
        name: docker.io
        state: present
    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: yes
    - name: Deploy Nginx
      docker_container:
        name: nginx_demo
        image: nginx
        state: started
        ports:
          - "80:80"
